@media(max-width:990px){
    .navbar-nav{
        background-color: gray;
    }
    .navbarButton{
        position:relative !important;
        right: 0 !important;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

.navbar{
    border: rgba(0, 0, 0, 0.1) solid 1px;
    background: transparent;
    transition: background-color .6s ease;
}
.scrolling-active{
    border: rgba(0, 0, 0, 0.1) solid 1px;
    background: #202020;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.navbar-nav{
    margin-left: 70px;

}

.nav-item{
    margin-left: 20px;
}

.navbar li a{
    color:white !important;
}

.dropdown-menu{
    background-color: #434242;
    border-color: #595959;
}

.navbarButton{
    background-color: #ffdf6c;
    border-radius: 50px;
    border-color: #ffdf6c;
    height: 2.4em;
    width: 8em;
    color:black;
    position: absolute;
    right: 40px;
}
.navbarButton:hover{
    background-color: #ffdf6cd9;

}